<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{{name}} - Coffee School</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/prism.css" rel="stylesheet">
        <script src="js/prism.js" type="text/javascript" charset="utf-8"></script>
    </head>

    <body>
        <!-- nav stuff. -->
        {{> nav}}

        <!-- Main content. -->
        <div class="main">
            <header>
                <div id="menu-button"><i class="fa fa-bars"></i></div>
                <h1>Coffee School <i class="fa fa-code"></i><em>{{name}}</em></h1>
            </header>
            <div class="container noflex">
                <h1>{{nameNice}}</h1>
                <p>{{description}}</p>
                <ol class="lessons">
                    {{#each lessons}}
                        <li><a href="section-{{@root.name}}-lesson-{{this.name}}.html">{{#if this.nameNice}}{{this.nameNice}}{{else}}{{this.name}}{{/if}}</a> {{#if this.description}}- {{this.description}} {{/if}} </li>
                        {{/each}}
                </ol>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Editor (ace) -->

        <script type="text/javascript" src="https://rawgithub.com/craftyjs/Crafty/release/dist/crafty-min.js"></script>
        <script src="https://cdn.jsdelivr.net/ace/1.2.3/min/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/main.js" type="text/javascript" charset="utf-8"></script>
    </body>

</html>
